@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
.contain {
    position: relative;
}

/*
Show the label at desired position when the 
placeholder of input isn't shown
*/
.container__input:not(:placeholder-shown) + .container__label {
    background: #fff;
    transform: translate(0, -50%);
    opacity: 1;
}

.container__label {
    /* Position the label */
    left: 8px;
    position: absolute;
    top: 0;

    /* Hide it by default */
    opacity: 0;
    transition: all 200ms;
}

span{
    font-family: 'PT Sans', sans-serif;
}
.txt{
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
/* .txt{
    font-family: pt-sans, sans-serif;
    font-size: 13px;
    font-weight: 400;
} */
.info-header{
    font-family: 'PT Sans', sans-serif;
    color: black;
    font-weight: bold;
}
.info{
    background-color: #3b84fa1c;

}