@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
span{
    color: #1363E2;
}
a{
    text-decoration: none;
    color: #000 !important;
}
.logo span{
    font-size: 30px;
}
.search,.search .ipt , .btr{
    border-radius: 20px !important;
}
.search{
    border: #000 1px solid;
}
.btr{
    color: #1363E2 !important;
}
.btr:hover{
    background-color: #1363E2 !important;
    color: #fff !important;
}
nav{
    -webkit-box-shadow: 0px 16px 12px -20px rgba(0,0,0,0.50); 
box-shadow: 0px 16px 12px -20px rgba(0,0,0,0.50);
}
.crtp{
    /* background-color: #FF6120 !important; */
    /* width: 15px !important;
    height: 15px !important; */
    left: 15px !important;
    bottom: 10px !important;
}
.Register{
    color: #FF6120 !important;
}
.pointer{
    cursor: pointer;
}
.big-title{
    margin:  0 auto;
    text-align: center;
    padding-top: 20px;
    border-bottom: #1362e270 solid 5px;
    border-radius: 5%;
    width: fit-content;
}
.lineSpan{
    border-bottom: #1362e270 solid 5px;
    width: fit-content;
}
.hr-title{
    margin: 0 auto;
    width: 260px;
    padding: 2px;
    color: #1363E2;
}
@keyframes tick {
    /* 0% {
        box-shadow: 0 0 #1363E2 inset;
    }
    100% {
        box-shadow: 0 -70px #1363E2 inset;
    } */
    to{transform: rotate(359deg);}
}
.load{
    height: 100vh;
}
.loader{
        /* transform: perspective(140px) rotateX(-45deg); */
        width: 64px;
        height: 64px;
        position: relative;
        border: 2px solid #FF6120;
        /* background-color: #1363E2; */
        /* animation: load linear infinite alternate ; */
        border-radius: 50%;
}
.loader::after{
    content: "";
    position: absolute;
    bottom: 29px;
    left: 30px;
    display: block;
    transform-origin: 0% 100%;
    width: 1px;
    height: 24px;
    background: #FF6120;
    animation: tick 1s infinite linear;
}

.link{
    text-decoration: none;
    color: #FF6120 !important;
}
.link:hover{
    color: #1363E2 !important;
}

.img-Error{
    max-width: 550px;
    max-height: 500px;
}
.Error{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.btn-error{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #1363E2;
    color: #fff;
    font-weight: 600;
}

.btn-error:hover{
    background-color: #000;
}




/* test */
/* .all-product::-webkit-scrollbar{
    height: 30px;
}
.all-product{
    display: grid;
    grid-auto-flow:column;
    gap: 50px;
    max-height: 500px ;
    justify-items: center;
    display: flex;
    overflow-x: scroll;
    margin-top: 60px;
} */
.row{
    --bs-gutter-x: 1.5rem !important;
}

.heart-icon:hover{
    color: #FF6120;
}
.product-item{
    border: 1px solid rgb(219, 219, 219);
    -webkit-box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.23); 
    box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.23);
    border-radius: 20px;
    width: 300px !important; 
    padding: 0 !important;
}
.product-img{
    position: relative;
    overflow: hidden;
    border-radius:20px 20px 0px 0px;
}
.btns{
    background-color: rgba(0, 0, 0, 0.228);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 100%;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}
.btns button{
    position: absolute;
    border: none;
    background-color: rgb(0, 0, 0);
    color: #fff;
    transition: all 0.3s ease-in-out;
    top: 50%;
    left: 25%;
    border-radius: 10px;
}
.btns a:hover,.btns button:hover{
    /* color: #FF6120 !important; */
    background-color: #1363E2;
}

.product-img:hover .btns{
    bottom: 0;
}

.heart-icon{
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 18px;
}

.product-type{
    font-size: 13px;
    opacity: 0.8;
}
.product-name{
    transition: all 0.3s ease-in-out;
}
.product-name:hover{
    color: #FF6120!important;
}
.product-price{
    color: #FF6120;
}
.old-price{
    text-decoration: line-through;
}
.rating{
    font-size: 13px;
}

.big img{
    border-radius: 20px;
    border: rgba(0, 0, 0, 0.158) 1px solid;  
}
.pucadm img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: rgba(0, 0, 0, 0.158) 1px solid;
    margin-left: 20px;
}
.act{
    border: 2px solid#1362e29c !important;

}
.product-price{
    font-size: 25px;
    padding-right: 15px;
    font-weight: 700;
}
.quantité{
    width: 200px;
}
.btn1{
    color: #fff !important;
    border: none;
    background-color: #000000;
    padding: 10px 32px !important;
    border-radius: 30px;
    width: 150px;
    max-height: 47px;
}
.btn1:hover{
    background-color: #1363E2;
}
/* .btn1 a{
    color: #fff !important;
    font-weight: 600;
    font-size: 17px;
} */
/* .heart{
    /* border-radius: 50px;
    padding: 10px;
    width: 50px;
    height: 50px;
    border: none; 
} */
.heart svg:hover{
    color: #1363E2 !important;
}
/* test */
.brands{
    --bs-gutter-x: 0 !important;
}
.brand img{
    width: 240px;
    height: 170px;
    border-radius: 40px;
}
.big-title{
    font-family: 'Concert One', cursive;
}
.log{
    color: #1362e29c !important;
}
.log:hover{
    color: #FF6120 !important;
}
.card-body{
padding: 10px 5px 0px 5px;
}
/* cart */





/* cart */

.items-list{
    margin-top: 80px !important;
}
.item{
    border-bottom: 1px solid #1362e232
}
.item-img{
    width: 120px !important;
    height: 120px !important;
}


.item-cunt{
    margin: auto 0 !important;
}
.item-cunt .a{
    text-decoration: none;
    color: #fff !important;
    font-size: 17px;
    font-weight: 900;
}
.item-cunt .btn2{
    background-color: #1363E2;
    width: 45px !important;
    height: 45px !important;
    border: none;
    border-radius: 50px;
}
.item-inp{
    width: 60px !important;
    height: 30px;
}

.price-cunt{
    text-align: center;
}




.cart-total{
    border-top: #1363E2 2px solid;
    padding: 20px !important;
}

.price-total{
    font-size: 20px;
    font-weight: 700;
    color: #FF6120 !important;
}
.list-title{
    background-color: #1363E2;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding-top: 10px;
}



.btn-total{
    width: 200px !important;
    margin: 0 auto;
    background-color: #1363E2 ;
    border: none;
    border-radius: 20px;
    height: 40px;
}
.btn-total .a{
    color: #fff !important;
    text-decoration: none;
    background-color: transparent;
    font-size: 17px;
    font-weight: 500;
}
.btn-total:hover{
    background-color:#FF6120;
}

/* ASIDE */

*{
    box-sizing: border-box;
}
.list-group{
    list-style: none !important;
}
.list-group .a{
    text-decoration: none !important;
}
#sidebar{
    background-color: #fff;
    border-right: rgb(189, 189, 189) solid 0.5px;
    border-bottom: rgb(189, 189, 189) solid 0.5px;
    padding: 10px !important;
    top: 82px;
    position: absolute !important;
    overflow-y: auto;
    left: 0;
}
.fa-circle{
    font-size: 20px;
}
/* .cardd{
    width: 250px;
    display: inline-block;
    height: 300px;
} */
.card-img-top{
    width: 250px;
    height: 210px;
}
/* .card-body p{
    margin: 2px;
} */
/* .card-body{
    padding: 0;
    padding-left: 2px;
} */
.filter{
    display: none;
    padding: 0;
    margin: 0;
}

.offcanvas-backdrop.show{
 /* opacity: O,5; */
    margin-top: 83px !important;
}

.fit{
    width: 20px;
}
.fit-btn{
    background-color: #3b84fa !important;
    border: none !important;
    color: #fff !important;
}

.fit-btn:hover{
    background-color: #FF6120 !important;
}


.active-filter{
    background-color: #3b84fa !important;
    color: #fff !important;
}
.active-filter:hover{
    background-color: #FF6120 !important;
}

.pro{
    width: 100px;
}
.user-name{
    display: flex; 
    flex-direction: row;
    align-items: center !important;
    padding-left: 20px !important;
}
.Active-cat:active{
    background-color: #FF6120 !important;
    color: #fff !important;
}

/* .NumberItems{
    left: 4px;
    top: -4px;
} */
.NumberItems{
    background-color: #FF6120 !important;
    color: #fff !important;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 5px;
    border-radius: 50px;
}

.content{
    min-height: calc(100vh - 308px)
}

.sweetPagination .paginationUL .pageItem .pageButton{
    margin-bottom: 30px  !important;
}
.recent-title{
	font-family: 'montserratlight';
    font-size: 12px;
    letter-spacing: 0.48px;
}




